<div class="container-fluid">
    <div class="container">
      <!-- Main content -->
        <div class="col-lg-8">
          <!-- Details -->
          <div class="card">
            <div class="card-body">
              <button type="button" class="btn btn-outline-dark" [routerLink]="['/asteroids']">Back</button>
              <br>
              <br>
              <div>
                <div *ngFor="let ast of asteroids.near_earth_objects[yesterdayDateString]" >
                  <div *ngIf="ast.id == currentAstId">
                    <table class="table table-sm" >
                      <thead>
                        <tr>
                          <th scope="col"><h3>{{ast.name}}</h3></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Neo reference id</td>
                          <td>{{ast.neo_reference_id}}</td>
                        </tr>
                        <tr>
                          <td>Nasa url</td>
                          <td>{{ast.nasa_jpl_url}}</td>
                        </tr>
                        <tr>
                          <td>Is potentially hazardous asteroid</td>
                          <td>{{ast.is_potentially_hazardous_asteroid}}</td>
                        </tr>
                        <tr>
                          <td>Absolute magnitude-h</td>
                          <td>{{ast.absolute_magnitude_h}}</td>
                        </tr>
                        <tr>
                          <td>Kilometers max</td>
                          <td>{{ast.estimated_diameter.kilometers.estimated_diameter_max}}</td>
                        </tr>
                        <tr>
                          <td>Kilometers min</td>
                          <td>{{ast.estimated_diameter.kilometers.estimated_diameter_min}}</td>
                        </tr>
                        <tr>
                          <td>Meters max</td>
                          <td>{{ast.estimated_diameter.meters.estimated_diameter_max}}</td>
                        </tr>
                        <tr>
                          <td>Meters min</td>
                          <td>{{ast.estimated_diameter.meters.estimated_diameter_min}}</td>
                        </tr>
                        <tr>
                          <td>Miles max</td>
                          <td>{{ast.estimated_diameter.miles.estimated_diameter_max}}</td>
                        </tr>
                        <tr>
                          <td>Miles min</td>
                          <td>{{ast.estimated_diameter.miles.estimated_diameter_min}}</td>
                        </tr>
                        <tr>
                          <td>Feet max</td>
                          <td>{{ast.estimated_diameter.feet.estimated_diameter_max}}</td>
                        </tr>
                        <tr>
                          <td>Feet min</td>
                          <td>{{ast.estimated_diameter.feet.estimated_diameter_min}}</td>
                        </tr>
                        <tr>
                          <td>Is sentry object</td>
                          <td>{{ast.is_sentry_object}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <div >
                      <div *ngFor="let a of ast.close_approach_data">
                        <table class="table table-sm" >
                          <thead>
                            <tr>
                              <th scope="col"><h6>Close approach data</h6></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Close approach date</td>
                              <td>{{a.close_approach_date_full}}</td>
                            </tr>
                            <tr>
                              <td>Epoch date close approach</td>
                              <td>{{a.epoch_date_close_approach}}</td>
                            </tr>
                            <tr>
                              <td>Orbiting body</td>
                              <td>{{a.orbiting_body}}</td>
                            </tr>
                            <tr>
                              <td>Relative velocity in kilometers/second</td>
                              <td>{{a.relative_velocity.kilometers_per_second}}</td>
                            </tr>
                            <tr>
                              <td>Relative velocity in kilometers/hour</td>
                              <td>{{a.relative_velocity.kilometers_per_hour}}</td>
                            </tr>
                            <tr>
                              <td>Relative velocity in miles/hour</td>
                              <td>{{a.relative_velocity.miles_per_hour}}</td>
                            </tr>
                            <tr>
                              <td>Miss distance in astronomical</td>
                              <td>{{a.miss_distance.astronomical}}</td>
                            </tr>
                            <tr>
                              <td>Miss distance in lunar</td>
                              <td>{{a.miss_distance.lunar}}</td>
                            </tr>
                            <tr>
                              <td>Miss distance in kilometers</td>
                              <td>{{a.miss_distance.kilometers}}</td>
                            </tr>
                            <tr>
                              <td>Miss distance in miles</td>
                              <td>{{a.miss_distance.miles}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <app-comment-asteroid [currentAsteroidId]="currentAstId"></app-comment-asteroid>
              </div>
            <div>
          </div>
        </div>
    </div>
</div>
