<div class="container-fluid">

    <div class="container">
      <!-- Title -->
      <div class="d-flex justify-content-between align-items-center py-3">
        <h2 class="h5 mb-0"><a href="#" class="text-muted"></a> Order #16123222</h2>
      </div>

      <!-- Main content -->
      <div class="row">
        <div class="col-lg-8">
          <!-- Details -->
          <div class="card mb-4">
            <div class="card-body">
              <div class="mb-3 d-flex justify-content-between">
                <button type="button" class="btn btn-outline-dark" [routerLink]="['/asteroids']">Back</button>
                <div>
                  <span class="me-1">#16123222</span>
                </div>
                <div class="d-flex">
                  <button class="btn btn-link p-0 me-3 d-none d-lg-block btn-icon-text"><i class="bi bi-download"></i> <span class="text">Invoice</span></button>
                  <div class="dropdown">
                    <button class="btn btn-link p-0 text-muted" type="button" data-bs-toggle="dropdown">
                      <i class="bi bi-three-dots-vertical"></i>
                    </button>
                  </div>
                </div>
                <form>
                  <div class="form-group">
                    <label for="formGroupExampleInput">Name</label>
                    <input type="text" class="form-control" id="author" required [(ngModel)]="comment.author" name="author">
                  </div>
                  <div class="form-group">
                    <label for="formGroupExampleInput2">Comment</label>
                    <input type="text" class="form-control" id="commentText" placeholder="Comment text" required [(ngModel)]="comment.commentText" name="commentText">
                  </div>
                  <br>
                  <button class="btn btn-primary" type="submit" (click)="createComment()">Send</button>
                </form>

                <div *ngIf="submitted" >
                  <h4>Tutorial was submitted successfully!</h4>
                </div>
              </div>
              <!-- <table class="table table-borderless">
                <tbody>
                  <tr>
                    <td>
                      <div class="d-flex mb-2">
                        <div class="flex-shrink-0">
                          <img src="https://www.bootdey.com/image/280x280/87CEFA/000000" alt="" width="35" class="img-fluid">
                        </div>
                        <div class="flex-lg-grow-1 ms-3">
                          <h6 class="small mb-0"><a href="#" class="text-reset">Wireless Headphones with Noise Cancellation Tru Bass Bluetooth HiFi</a></h6>
                          <span class="small">Color: Black</span>
                        </div>
                      </div>
                    </td>
                    <td>1</td>
                    <td class="text-end">$79.99</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex mb-2">
                        <div class="flex-shrink-0">
                          <img src="https://www.bootdey.com/image/280x280/FF69B4/000000" alt="" width="35" class="img-fluid">
                        </div>
                        <div class="flex-lg-grow-1 ms-3">
                          <h6 class="small mb-0"><a href="#" class="text-reset">Smartwatch IP68 Waterproof GPS and Bluetooth Support</a></h6>
                          <span class="small">Color: White</span>
                        </div>
                      </div>
                    </td>
                    <td>1</td>
                    <td class="text-end">$79.99</td>
                  </tr>
                </tbody>

              </table> -->
            </div>
            <div class="col-sm-5 col-md-6 col-12 pb-4">
              <h3>Comments</h3>
              <div class="comment mt-4 text-justify float-left" *ngFor="let com of receivedData">
                  <h6> {{com.author}}</h6>
                  <br>
                  <p>{{com._id}}</p>
                  <p>{{com.commentText}}</p>
                  <button (click)="clickEditButton()">update</button>
                  <button (click)="deleteComment(com._id)">delete</button>
                  <div *ngIf="submitted" >
                    <form>
                      <div class="form-group">
                        <label for="formGroupExampleInput">Name</label>
                        <input type="text" class="form-control" id="authorEdit" 
                        [(ngModel)]="author" name="author">
                      </div>
                      <div class="form-group">
                        <label for="formGroupExampleInput2">Comment</label>
                        <input type="text" class="form-control" id="commentTextEdit" 
                        placeholder="Comment text" [(ngModel)]="text"
                        name="commentText">
                      </div>
                      <br>
                      <button class="btn btn-primary" type="submit" (click)="updateComment(com._id)">Send</button>
                    </form>
                  </div>
              </div> 
           
          </div>
          </div> 
    
         
        </div>
      </div>
    </div>
</div>
