<h4 *ngIf="currentState">Comments</h4>

<div *ngFor="let com of receivedData">
    <div class="d-flex mb-2"  id="comment-listed">
        <div class="form-outline me-3 justify-content-left" style="width: 43rem" id="comment-text">
            <h6 id="form1">{{com.author}}</h6>
            <p for="form1">{{com.commentText}}</p>
        </div>
        <button type="button" class="btn btn-primary" id="inside-btn" (click)="open(contentDa)" (click)="clickEditButton()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/></svg>
        </button>
        <button type="button" class="btn btn-danger" id="inside-btn" (click)="deleteComment(com._id)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/></svg>
        </button>
    </div>

    <ng-template #contentDa let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Update Comment</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="mb-3">
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Comment</label>
                        <input type="text" class="form-control" id="commentTextEdit" 
                        placeholder="Comment text" [(ngModel)]="text" name="commentText">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')" (click)="updateComment(com._id)">Update</button>
        </div>
    </ng-template>
</div>

<div *ngIf="currentState">
    <form id="comment-group">
        <h5>New comment</h5>
        <div class="form-group">
            <label for="formGroupExampleInput">Name</label>
            <input type="text" class="form-control" id="author" required [(ngModel)]="comment.author" name="author">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Comment</label>
            <input type="text" class="form-control" id="commentText" placeholder="Comment text" required [(ngModel)]="comment.commentText" name="commentText">
        </div>
        <br>
        <button class="btn btn-primary" id="comment-btn" type="submit" (click)="createComment()">Send</button>
        <button class="btn btn-danger" id="comment-btn" type="submit" (click)="cancelComment()">Cancel</button>
    </form>
</div>


<div #myToast role="alert" aria-live="assertive" aria-atomic="true" class="toast fade position-fixed top-0 left-0 ">
    <div class="toast-header">
      <strong class="me-auto">Info</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
     {{toastMessage}}
    </div>
</div>




