#inside-btn{
    margin: 1rem 0.5rem 1rem 0rem;
    justify-content:right;
}

#comment-btn{
    margin-left: 1rem;
}

#comment-group{
    margin-top: 1rem;
}
#comment-listed{
    border-style: solid;
    width: rem;
    border-width:1px;
    border-color: darkgray;
    border-radius: 10px;
}
#comment-text{
    margin: 0.5rem 0.5rem 0.5rem;
}

#update-btn{
    margin-left: 1rem;
}